body {
    background-color: #FEFAE0;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BetterBite name title */
.title {
    display: flex;
    align-items: center;
    gap: 8px;
}
.title img {
    width: 35px;
    height: 100%;
    border-radius: 10px;
}
.app-name {
    text-align: left;
    color: #4F7B58;
    font-size: 32px;
    font-weight: 900;
}

/* account & settings button */
.header-buttons {
    display: flex;
    gap: 15px;
}
.header-buttons button {
    border: none;
    background: none;
    padding: 0px 5px;
    cursor: pointer;
}
.settings-btn, .account-btn {
    font-size: 30px;
    transition: color 0.2s;
    padding: 5px;
}

/* Recipe information container */
.recipe-container {
    width: 700px;
    background-color: #E2ECC0;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 50px auto;
}
.recipe-img {
    width: 300px;
    height: 300px;
}
.recipe-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}
.step-label {
    font-weight: bold;
}

hr {
  border: 1px solid gray;
}

/* Navigation buttons */
.nav-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px auto;
}

.nav-buttons button{
    background-color: #C8ACFF;
    border: none;
    border-radius: 8px;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    width: 250px;
}


#back-button{
    margin-left: 55px;
    text-align: center;
}

#home-button{
    margin-right: 55px;
    text-align: center;
}
.nav-buttons button:hover {
  background-color: #a58ae0;
}